.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 15px;
}

.amount {
  font-size: 24px;
  font-weight: 600;
}

.usd {
  font-size: 14px;
  font-weight: 300;
}

input {
  color: var(--color-dark-1);
  text-align: right;
  font-family: inherit;
  font-size: 26px;
  font-weight: 600;

  border: none;
  outline: none;
}
