.button {
  height: 40px;
  display: flex;
  padding: 0px 15px 0px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: var(--button-radius);
  background-color: var(--color-light);
  cursor: pointer;
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  box-shadow: var(--light-shadow);
}

select {
  font: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  background: none;
  border: none;
  color: inherit;
  outline: none;
  padding-right: 10px;
  cursor: pointer;
}

/* .arrow {
  width: 10px;
} */
